<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://localhost:3000/css/index.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-2.0.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>
<body>
	<div id="container">
		<p id="tle"><b>Smart Home</b></p>
		<div id="div1" class="d">
            <h1>Độ ẩm</h1>
            <div id="chart"></div>
            <script>
                Plotly.newPlot('chart',[{
                        y:[],
                        type:'line',
                        line: {
                        color: 'rgb(128, 0, 128)',
                    }
                }]);
                var socket = io("http://localhost:3000")
                socket.on('humidity', function(data){
                    // return data;
                    console.log(data)              
                    var cnt = 0;
                    Plotly.extendTraces('chart',{ y:[[data]]}, [0]);
                    cnt++;
                    if(cnt > 500) {
                        Plotly.relayout('chart',{
                            xaxis: {
                                range: [cnt-500,cnt]
                            }
                        });
                    };
                })
            </script>
        </div>
		<div id="div2" class="d">
            <h1>Nhiệt độ</h1>
            <div id="chart2"></div>
            <script>
                Plotly.newPlot('chart2',[{
                        y:[],
                        type:'line'
                    }]);
                var socket = io("http://localhost:3000")
                socket.on('temperature', function(data){
                    // return data;
                    console.log(data)              
                    var cnt = 0;
                    Plotly.extendTraces('chart2',{ y:[[data]]}, [0]);
                    cnt++;
                    if(cnt > 500) {
                        Plotly.relayout('chart2',{
                            xaxis: {
                                range: [cnt-500,cnt]
                            }
                        });
                    };
                })
            </script>
		</div>
		<div id="div3" class="d">
			<p id="den" class="title">
				<b>Bật/Tắt đèn</b>
				<span>
					<label id="switch1" class="switch">
					  <input id="check" type="checkbox" onclick="show()">
					  <span class="slider round"></span>
					</label>
				</span>
			</p>
			<img id="lamp" src="http://localhost:3000/images/lamp_off2.png">
			<script type="text/javascript">
				function show() {
					if(document.getElementById("check").checked == true) {
						document.getElementById("lamp").src="images/lamp_on2.png";
                        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
						var theUrl = "/api/datas/send-mqtt/led/1";
						xmlhttp.open("POST", theUrl);
						xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
						xmlhttp.send(JSON.stringify({ "status": "on"}));
					}
					else {
						document.getElementById("lamp").src="images/lamp_off2.png";
						var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
						var theUrl = "/api/datas/send-mqtt/led/1";
						xmlhttp.open("POST", theUrl);
						xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
						xmlhttp.send(JSON.stringify({ "status": "off"}));
					}
				}
			</script>
		</div>
		<div id="div4" class="d">
			<p id="den" class="title">
				<b>Bật/Tắt đèn</b>
				<span>
					<label id="switch1" class="switch">
					  <input type="checkbox">
					  <span class="slider round"></span>
					</label>
				</span>
			</p>
			<img src="images/lamp_on2.png">
		</div>
			
		<!-- <div id="div2" class="d">
			<p>Turn on the light</p>
			<img src="images/bieu-do.png">
		</div> -->
		<!-- <div id="div3" class="d">
			<p>Turn on the light</p>
			<img src="images/nha-thong-minh.jpg">
		</div>
		<div id="div4" class="d">
			<p>Turn on the light</p>
			<img src="images/nha-thong-minh.jpg">
		</div>
 -->	</div>
</body>

</html>