<html>
    <head>
        <script src="socket.io/socket.io.js"></script>
        <script>
            var socket = io("http://localhost:3000")
            socket.on("Alldata", function(data){
                console.log(data)
            })
            // console.log("123")
        </script>
    </head>
    <body>
        Hello
    </body>
</html>