*{
	margin: 0;

}

body, html {
	width: 100%;
	height: 100%;
	/*background-image: url(images/smart_city.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}

#container{
	width: 100%;
	height: 100%;
	background-image: url(/images/smart_city.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

#btnLogout{
  margin-left: 600px;
  background-color: white;
  color: grey;
  border-radius: 12px;
}

#logout{
  font-size: 30px;
}


#tle{
	font-size: 50px;
	padding-left: 42%;
	padding-top: 20px;
	color: #bdbdf2;
}

.d{
	float: left;
	height: auto;
	width: 43%;
	background-color: #e3e3fa;
	margin-left: 50px;
	margin-top: 20px;
	padding-left: 40px;
	border-radius: 30px;

}

.title{
	font-size: 40px;
}
img{
	width: 90%;
	height: auto;
}

#l_c{
	width: 90%;
	height: auto;
}




.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
#switch1{
	margin-left: 50px;
}
